{% extends 'base.html' %}

{% block body %}
    <div class="row p-3">
        <div class="col-sm-6">
            <form id="main_form">
                <div class="form-group">
                    <div class="dropzone" id="my-dropzone" name="mainFileUploader">
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title">Název archivu</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="form-group">
                    <label for="sel1">Formát:</label>
                    <select class="form-control" id="sel_format" name="sel_list">
                        <option value="png">PNG</option>
                        <option value="tif">TIFF</option>
                    </select>
                </div>
            </form>
            <div>
                <button type="submit" id="submit-all" class="btn btn-primary">Zkonvertovat a zabalit</button>
            </div>
        </div>
        <script>
            Dropzone.options.myDropzone = {
                url: '/upload',
                autoProcessQueue: false,
                maxFilesize: 2048,
                createImageThumbnails: false,
                uploadMultiple: true,
                parallelUploads: 100,
                maxFiles: 30,
                acceptedFiles: '.jp2',
                //addRemoveLinks: true,
                dictDefaultMessage: 'Nahrajte nebo přetáhněte soubory tady<br> <p class="text-muted">Max 2GB pro jeden soubor</p>',
    
                init: function () {
    
                    var submitButton = document.querySelector("#submit-all");
                    var wrapperThis = this;
    
                    submitButton.addEventListener("click", function () {
                        wrapperThis.processQueue();
                    });
    
                    this.on("addedfile", function (file) {
    
                        // Create the remove button
                        var removeButton = Dropzone.createElement("<button class='btn btn-link btn-sm'>Odstranit</button>");
    
                        // Listen to the click event
                        removeButton.addEventListener("click", function (e) {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();
    
                            // Remove the file preview.
                            wrapperThis.removeFile(file);
                            // If you want to the delete the file on the server as well,
                            // you can do the AJAX request here.
                        });
    
                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                    });
    
                    this.on('sendingmultiple', function (data, xhr, formData) {
                        formData.append("title", $("#title").val());
                    });
                    this.on("successmultiple", function(files, response) {
                        $('.dz-preview').empty();
                    });
                    this.on("errormultiple", function(files, response) {

                    });
                }
            };
        </script>
        <div class="col-sm-6">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">Název</th>
                    <th scope="col">Akce</th>
                    <th class="border-left" scope="col">Čas vytvoření</th>
                </tr>
                </thead>
                <tbody>
                {% for archive in archives.items %}
                    <tr>
                        <td>
                            {{ archive.name }}{% if archive.state == 'waiting' %}
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Archiv se zpracovává a je ve stavu čekající" style="margin-left: 10px;">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </a>
                            <div class="spinner-border spinner-border-sm" style="margin-left: 10px;"></div>
                            {% endif %}
                        </th>
                        <td>
                            {% if archive.state == 'exists' %}
                                <a href="{{ url_for('log', filename=archive.name) }}">
                                    <button class="btn btn-primary"><i class="fa fa-download"></i></button>
                                </a>
                            {% elif archive.state == 'waiting' %}
                                <script>
                                    $(document).ready(function(){
                                        $('[data-toggle="tooltip"]').tooltip();   
                                    });
                                </script>
                            {% endif %}
                            <a href="/delete/{{ archive.id }}">
                                <button class="btn btn-danger"><i class="fa fa-times"></i></button>
                            </a>
                        </td>
                        <td class="border-left">{{ archive.date_created.strftime('%d.%m.%Y, %H:%M') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-right">
                <a href="{{ url_for('index', page=archives.prev_num) }}" class="btn btn-outline-dark {% if archives.page == 1 %}disabled{% endif %}">
                    &laquo;
                </a>
                <!-- Loop through the number of pages to display a link for each-->
                {% for page_num in archives.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                
                {% if page_num %}
                 <!-- Check for the active page and set the link to "Active"-->
                        {% if archives.page == page_num %}
                        <a href="{{ url_for('index', page=page_num) }}"
                        class="btn btn-dark">
                            {{ page_num }}
                        </a>
                        {% else %}
                        <a href="{{ url_for('index', page=page_num) }}"
                        class="btn btn-outline-dark">
                            {{ page_num }}
                        </a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}    
                <a href="{{ url_for('index', page=archives.next_num) }}" class="btn btn-outline-dark {% if archives.page == archives.pages %}disabled{% endif %}">
                    &raquo;
                </a>
              </div>
              <p class="text-right mt-3">
                  Stránka {{ archives.page }} z {{ archives.pages }}
              </p>
        </div>
      </div>
{% endblock %}